interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web-test.leighhack.org/membership/index.json
  response:
    body:
      string: '{"memberships":[{"name":"Member","value":24,"currency":"GBP","billing_interval":"monthly","link":"https://pay.gocardless.com/AL00024VQTCKBK","description":"Our
        standard membership that allows usage of the hackspace facilities."},{"name":"Member+","value":30,"currency":"GBP","billing_interval":"monthly","link":"https://pay.gocardless.com/AL00024VQW2FWQ","description":"Standard
        membership with an additional donation."},{"name":"Concession","value":18,"currency":"GBP","billing_interval":"monthly","link":"https://pay.gocardless.com/AL0002BMN4S3AX","description":"A
        subsidised membership for pensioners, students, and low income e[...]
